body{
    padding: 0;
    margin: 0;
    background-color: pink;
}

section{
    display: flex;
    width: 60%;
    height: fit-content;
    margin: auto;
    margin-top: 3rem;
    grid-template-columns: 1fr 5% 1fr;
    gap: 3rem;
    
}

h1{
    width: fit-content;
    margin: auto;
    font-size: 4dvh;
    margin-top: 10%;
    animation: glow 2s ease-in-out infinite alternate;
    color: rgb(255, 84, 84);
}

p{
    width: fit-content;
    margin: auto;
    font-size: 2dvh;
    color: rgb(255, 84, 84); 
}

@keyframes glow{
    0% {
      text-shadow: 0 0 4rem #ff000081, 0 2px 20px #ff00007a, 2px 0 30px #ff00007e, 0 0 40px #ff00008a;
    }
    50% {
      text-shadow: 0 0 4rem #f853538c, 0 2px 20px #f853538c, 2px 0 30px #f853538c, 0 0 40px #f853538c;
    }
    100% {
      text-shadow: 0 0 4rem #ff006281, 0 2px 20px #ff006281, 2px 0 30px #ff006281, 0 0 40px #ff006281;
    }
}

h2{
    position: relative;
    width: 100%;
    margin: auto;
    top: 90%;
    font-size: 3dvh;
    text-align: center;
    transition: .2s;
    visibility: hidden;
    opacity: 0;
    color: rgb(255, 84, 84);
    animation: glow 2s ease-in-out infinite alternate;
}

section > a{
    position: relative;
    text-decoration: none;
    width: 100%;
    height: 40dvh;
    border-radius: 2%;
    transition: .2s;
}

section > a:hover{
    transform: scale(1.05);
    box-shadow: 0px 0px 15px rgba(255, 0, 0, 0.479);
    transition: .2s;
}

section > a:hover h2{
    transform: translateY(100%);
    transition: .2s;
    visibility: visible;
    opacity: 1;
}

section > a:nth-child(1){
    background-image: url(cinema.webp);
    background-position: 50%;
    background-size: cover;
}

section > a:nth-child(2){
    background-image: url(love\ letter.webp);
    background-position: 50%;
    background-size: cover;
}



@media only screen and (max-width: 900px) {
  section{
    flex-direction: column;
  }

  section > a{
        height: 30dvh;
  }
}