body{
    padding: 0;
    margin: 0;
    background-color: pink;
}

h1{
    width: fit-content;
    margin: auto;
    font-size: 4dvh;
    margin-top: 10%;
    animation: glow 2s ease-in-out infinite alternate;
    color: rgb(255, 84, 84);
    text-align: center;
}

p{
    width: fit-content;
    margin: auto;
    font-size: 2dvh;
    color: rgb(255, 84, 84); 
}

.subP{
    width: fit-content;
    margin: auto;
    margin-top: 1rem;
    text-align: center;
    font-size: 2dvh;
    color: rgb(255, 84, 84); 
}

a{
    display: block;
    width: fit-content;
    margin: auto;
    color: rgb(255, 84, 84);
}

a:hover{
    text-decoration: none;
}


@keyframes glow{
    0% {
      text-shadow: 0 0 4rem #ff000081, 0 2px 20px #ff00007a, 2px 0 30px #ff00007e, 0 0 40px #ff00008a;
    }
    50% {
      text-shadow: 0 0 4rem #f853538c, 0 2px 20px #f853538c, 2px 0 30px #f853538c, 0 0 40px #f853538c;
    }
    100% {
      text-shadow: 0 0 4rem #ff006281, 0 2px 20px #ff006281, 2px 0 30px #ff006281, 0 0 40px #ff006281;
    }
}

ul{
    width: fit-content;
    margin: auto;
    margin-top: 2rem;
    color: rgb(255, 84, 84);
    border-top: 1px solid rgb(255, 84, 84);
    border-bottom: 2px solid rgb(255, 84, 84);
}

ul > li{
    padding: 1rem;
    font-size: 130%;
}
